{% extends 'base.html' %}
{% load static %}

{% block metadescription %} 
    {% if category %}
        {{ category.description|truncatewords:155}} 
    {% else %}
        Welcome To Ekart Logistics
    {% endif %}
{% endblock %}

{% block title %} 
    {% if category %}
        {{ category.name }} - Ekart Logististics 
    {% else %}
        Ready your cart
    {% endif %}
{% endblock %}

{% block content %} 
    {% if category %}
     <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a></p>
            </div>
        </div>
     </div>
     {% endif %}

     
     <div class="mx-auto">
        {% if category %}
            <img class="my-image" src="{{category.image.url}}" alt="{{category.name}}">
     </div>
     <br>
     <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
     </div>
        {% else %}
        <div>
            <img class="my-image my_image_padding" src="{% static 'img/banner2.png' %}" alt="our products" width="1400px;" height="250px;">
        </div>
        <br>
        <div>
            <h1 class="text-center my_title">Our Product Collections</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
     {% endif %}

     <div class="container">
        <div class="row mx_auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}" height="150px;" width="150px;"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
        <div class="mx_auto">
            {% if products.paginator.num_pages > 1 %}

            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"> {{pg}} </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
     </div>
{% endblock %}